.main
  .sidebar
    .block
      %h3 Contacts
      %ul
        %li
          %a{:href => "#"} View All Contacts
    .block
      %h3 Types
      %dl.stats
        %dt All
        %dd
          %a{:href => "#"} 5
        %dt Customers
        %dd
          %a{:href => "#"} 2
        %dt Adjusters
        %dd
          %a{:href => "#"} 2
        %dt Technicians
        %dd
          %a{:href => "#"} 1
  .content
    %img.heading{:src => "images/heading_contacts.png"}
      .breadcrumbs
        %ul
          %li
            %a{:href => "#"} Dashboard
            %span.separator /
          %li
            %a{:href => "#"} Contacts
            %span.separator /
          %li
            %a{:href => "#"} Steve Jobs
      .block
        %h2
          Contact Information
          %span.heading_nav
            %a{:href => "#"} Edit
        %dl
          %dt Contact Type
          %dd
            Customer
          %dt Insurance Company
          %dd State Farm Insurance
          %dt Contact Name
          %dd Steve Jobs
          %dt Address
          %dd 1 Infinite Loop
          %dt City
          %dd Cupertino
          %dt State
          %dd California
          %dt Zip Code
          %dd 90200
          %dt Phone Number
          %dd 310-555-5555
          %dt Email Address
          %dd steve@apple.com
