<table>
  <tr>
    <td>Name</td>
    <td>Job Description</td>    
  </tr>
  <tr>
    <td><%= @job.name%></td>
    <td><%= @job.job_detail %></td>
  </tr>
</table>


#Add a form for creating inventory
