= form_for @insurance_company, :remote => true do |f|
  .error_msg
  %p Insurance Company name
  %p= f.text_field :name
  = hidden_field_tag "insurance_company[subscription_id]", current_subscription.id
  = f.submit
